# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Executables from cpp_00 
megaphone
phonebook

# Executables from cpp_01
braiiiiiiiiiiiinnnnnzzzzzzzzzz
moar_brainz
HI_THIS_IS_BRAIN
unnecessary_violence
sed_is_for_losers
harl_2_0
harl_filter

# Executables from cpp_02 


# Executables from cpp_03 


# Executables from cpp_04 


# Executables from cpp_05 


# Executables from cpp_06 


# Executables from cpp_07 


# Executables from cpp_08 


# Executables from cpp_09

