# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Executables from cpp_00 
megaphone
phonebook
bank
test

# Executables from cpp_01
braiiiiiiiiiiiinnnnnzzzzzzzzzz
moar_brainz
HI_THIS_IS_BRAIN
unnecessary_violence
sed_is_for_losers
harl_2_0
koala.txt.replace
harlFilter
test

# Executables from cpp_02 
my_first_orthodox_class
fixed_point_nb_class
now_we_are_talking
bsp

# Executables from cpp_03 
aaaaaaand_open
serena_my_love
repetitive_work
now_it_is_weird

# Executables from cpp_04
polymorphism
world_on_fire
abstract_class
interface_recap

# Executables from cpp_05 
mommy
maggots
28B_28C
coffee_making
this_is_target_name_shrubbery


# Executables from cpp_06 
scalar_converter
serialization
identify_real_type

# Executables from cpp_07 
start_with_few_functions
iter
array

# Executables from cpp_08 


# Executables from cpp_09

